<section class="home-page-signed-in">
  <div class="row container">
    <div class="twelve columns goal-search">
      <span>I want to</span>
      <%= text_field_tag :goal_search, nil, class: 'no-border' %>
    </div>
  </div>
</section>
