<div class="section">
  <div class="title">
    <h1>HabitMi</h1>
  </div>
</div>
<div class="section">
  <div class="section values">
    <div class="container">
      <div class="row">
        <div class="one-third column value">
          <div class="circle">icon</div>
          <p class="caption">Percentage of users more likely to purchase on mobile friendly site.</p>
        </div>
        <div class="one-third column value">
          <div class="circle">icon</div>

          <p class="caption">Most of the world accesses the internet on multiple devices.</p>
        </div>
        <div class="one-third column value">
          <div class="circle">icon</div>

          <p class="caption">Percentage of users that are frustrated with page load times.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <%= link_to 'Join to change your bad habit!', new_user_registration_path, class: 'button button-primary' %>
  <%= link_to 'Sign In', new_user_session_path, class: 'button button-primary' %>
</div>
