<h1>About Us</h1>

<p>
  Why do New Year's Resolutions never work? Because many people don't have the discipline to go through with them. HabitMi's mission is to enable people to set out goals and actually achieve them.
</p>
