<section class="about-us container">
  <h1>About Us</h1>

  <p>
    Why do New Year's Resolutions never work? Because many people don't have the discipline to go through with them.
    HabitMi's mission is to enable people to set out goals and actually achieve them.
  </p>

  <div class="row">
    <div class="three columns">
      <%= image_tag 'chris.jpg', alt: 'Chris', width: '200px'%>
      <p>Chris Jeon</p>
    </div>

    <div class="three columns">
      <%= image_tag 'kai.jpg', alt: 'Kai', width: '200px'%>
      <p>Kai Wang</p>
    </div>

    <div class="three columns">
      <%= image_tag 'nina.jpg', alt: 'Nina', width: '200px'%>
      <p>Nina Yang</p>
    </div>

    <div class="three columns">
      <%= image_tag 'sharon.jpg', alt: 'Sharon', width: '200px'%>
      <p>Sharon Gai</p>
    </div>


  </div>

</section>
