<section class=" container">


  <p>
    Here are some people with similar goals!
    Select 4 people. Or invite your friends!
  </p>

  <div class="row">
    <div class="three columns">
      <%= image_tag 'anakaren.jpg', alt: 'Anna', width: '200px'%>
      <p>Anna Farris</p>
    </div>

    <div class="three columns">
      <%= image_tag 'robzhu.jpg', alt: 'George', width: '200px'%>
      <p>Rob Mister</p>
    </div>

    <div class="three columns">
      <%= image_tag 'randomgdude.jpg', alt: 'Jay', width: '200px'%>
      <p>Jay Leno</p>
    </div>

    <div class="three columns">
      <%= image_tag 'linda.jpg', alt: 'Linda', width: '200px'%>
      <p>Linda Wang</p>
    </div>


  </div>

</section>
