ul.nav-dropdown {
	display:none;
	position:absolute;
	top:0px;
	padding-top:25px;
	z-index: 2;
}

#sign-in-div:hover {
	ul.nav-dropdown {
		display: block;
	}
}

div.user-thumbnail {
  width:50px;
  height:50px;
  background-color: $type-aqua-blue;
  border-radius: 25px;
  margin-right:30px;
  opacity: 0.5;
  text-align: center;
  img{
    height: 40px;
    margin:0 auto;
    position: relative;
    top: 5px;
  }
}

div.error-explanation {
  border: 2px solid red;

  div.alert {
    h5 {
      padding: 10px 15px;
      background-color: red;
      margin-bottom: 0;
      color: white;
    }
    ul.error-messages-list {
      margin-bottom: 0;
      padding: 10px;
      list-style-type: square;
    }
  }
}
