section.edit-profile {
  div.container {
    div.row {
      margin-top: 25px;
      margin-bottom: 25px;

      div.twelve.columns {
        padding-right: 30%;
        padding-left: 30%;
      }
    }
  }
}
