section.started-goal {
  div.goal-info-box {
    border: 1px solid LightGray;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px 30px 25px 30px;

    div.goal-info {
      border-bottom: 1px solid LightGray;

      div.eight.columns {
        h1 {
          text-transform: uppercase;
        }

        h5 {
          color: $type-aqua-blue;
        }
      }

      div.four.columns {
        div.row {
          div.nine.columns {
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    div.goal-participants {
      div.participants-list {
        margin-left: 0;

        div.user-thumbnail, div.user-missing-thumbnail {
          display: inline-block;
        }

        div.user-thumbnail {
          position: relative;
          top: 10px;
        }
      }

      div.participants-actions {
        position: relative;
        top: 25px;

        a {
          width: 100%;
        }
      }
    }
  }

  div.goal-status {
    div.row {
      div.seven.columns {
        div.user-score-card {
          margin-bottom: 25px;

          div.four.columns {
            p {
              margin-bottom: 0;
            }
          }
        }
      }

      div.five.columns {
        div.categories-list {
          ul {
            width: 100%;
            list-style-type: none;

            li {
              float: left;
              width: 50%;
            }
          }

          br {
            clear: left;
          }
        }
      }
    }
  }

  div.comments {
    div.comment {
      border-bottom: 1px solid LightGray;
    }
  }
}
