section.home-page-signed-in {
  margin-top: -20px;

  div.goal-search {
    background-color: $type-aqua-blue;

    div.container {
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;

      div {
        h1 {
          color: white;
          font-size: 270%;
        }

        span {
          color: white;
          font-size: 125%;
        }

        input {
          width: 70%;
        }
      }
    }
  }
}
