nav {
  background-color: $type-aqua-blue;
  color: white;
  padding-top: 14px;
  height: 40px;

  &.light-blue {
    background-color: #9CE1F6;
    height: 58px;
  }

  div.sign-in {
    a {
      text-decoration: none;
      color: white;
    }
  }

  div.logo {
    a {
      font-family: 'Pacifico';
      text-decoration: none;
      color: white;
    }
  }
}

footer {
  padding-top: 35px;
  background-color: $type-aqua-blue;
  color: white;

  ul {
    li {
      margin-right: 30px;
      list-style: none;
      display: inline;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  p {
    span.logo {
      font-family: 'Pacifico';
    }
  }
}
