<footer>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <ul>
          <li><%= link_to 'About Us', about_us_path %></li>
          <li><%= link_to 'Contact Us', contact_us_path %></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <p class="u-pull-right"><span class="logo">HabitMi</span> © 2014</p>
      </div>
    </div>
  </div>
</footer>
