<header>
  <div class="container">
    <div class="sign-in u-pull-left">
      <% if user_signed_in? %>
        <%= link_to current_user.full_name, edit_user_registration_path %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
    </div>

    <div class="logo u-pull-right">
      <%= link_to 'HabitMi', root_path %>
    </div>
  </div>
</header>
