<header>
  <div class="container">
    <div class="sign-in u-pull-left">
      <%= link_to 'Sign In', new_user_session_path %>
    </div>

    <div class="logo u-pull-right">
      <%= link_to 'HabitMi', root_path %>
    </div>
  </div>
</header>
